h1{
	color: rgb(1,1,11);
	margin-left: 8%;
	margin-right: 6%;
	text-align: center;
    font-weight: 700;
    font-size: 75px;
    font-family: Georgia;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 4px 4px 4px 0px;
	margin-left: 11%;
	margin-right: 6%;
	padding-bottom: 20px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0px 0px;
	padding-bottom: 20px;
  }
  
  .column img {
	margin-top: 30px;
	vertical-align: middle;
	width: 75%;
	height: 8%;
    box-shadow: 5px 5px 5px rgb(1,1,11);
    transition: transform 0.2s;
  }
  .column img:hover{
      transform: scale(1.2);
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }
 